<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WildFinder : Index</title>

    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body id="home">
    <div class="welcome-container">
        <p id="main-header">Wild Finder</p>
        <p>We'll help you find your wilderness.</p>
        <div class="cont">
            <a href="login.html">
                <p>Continue to log in</p>
            </a>
        </div>
    </div>
</body>

</html>